{%extends "base.html" %}





{%block content%}
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU7meA5D2zTuj9AECjEQR6lv9C0PTa5BU4k4IkxNxOFg&s" alt="backgroung" width="100" height="100">
    
    <div>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui aperiam consectetur, molestiae praesentium asperiores similique sed non impedit a sunt omnis odio exercitationem tempora, explicabo laboriosam autem cum esse magnam.</p>
        {%include "extras/list.html" %}
    </div>
    {%endblock content%}

    {%block footer_content%}
    <p>this is the contact footer</p>
    {%endblock footer_content%}
</body>
</html>