<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
</head>
<body>
    <h2>about page</h2>
    <p>i am {{age}}</p>
    <ol>
        <li>name</li>
        <li>about me</li>
        <li>page</li>
        <li>yooo</li>
    </ol>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnOAw7TLaL6WlBA0ohg-qHMUEC9QQ3XEKoCj43z1tOjA&s" alt="about" width="150" height="150">
</body>
</html>